@model List<Flower>
@{
    ViewData["Title"] = "Index";
}

<h1>Flower List:</h1>
<br />
<hr />
<br />
<a asp-action="AddNewFlower" asp-controller="FlowerList">Add New Flower</a>
<br /> 
<hr />
<br />
<form>
    <label>Enter the flower search string: </label> &nbsp; &nbsp;
    <input type="text" name="searchString" placeholder="e.g. Rose"/>
    <button class="btn-outline-dark" type="submit">Search Flower</button>
</form>
<table border="1">
    <tr style="background-color:yellow">
        <th>Flower ID</th>
        <th>Flower Name</th>
        <th>Flower Type</th>
        <th>Flower Price</th>
        <th>Flower Purchase Date</th>
        <th>Edit Action</th>
        <th>Delete Action</th>
    </tr>
    @foreach(var singleflower in Model)
    {
        <tr>
            <td>@singleflower.FlowerID</td>
            <td>@singleflower.FlowerName</td>
            <td>@singleflower.FlowerType</td>
            <td>@singleflower.FlowerPrice</td>
            <td>@singleflower.FlowerPurchaseDate</td>
            <form method="post">
                <td><button class="btn-info" asp-action="editpage" asp-controller="FlowerList" asp-route-fid="@singleflower.FlowerID">Edit</button></td>
            <td><button class="btn-info" asp-action="deletepage" asp-controller="FlowerList" asp-route-fid="@singleflower.FlowerID">Delete</button></td>
           
            </form>
        </tr>
    }

</table>
